/* 改变主题色变量 */
$--color-primary:#EACF02;
$--color-success:#6C890B;
$--color-warning:#ABC327;
$--color-danger:#DFB5B7;
$--color-info:#7F1874;
/* 改变 icon 字体路径变量，必需 */
$--font-path: 'http://www.pfuni.cn/test/adminFramework/css/themes/yellow/fonts';

@import "http://www.pfuni.cn/test/adminFramework/css/themes/yellow/index.css";
