/* 改变主题色变量 */
$--color-primary:#4CB4E7;
$--color-success:#FFC09F;
$--color-warning:#FFEE93;
$--color-danger:#E2DBBE;
$--color-info:#A3A380;
/* 改变 icon 字体路径变量，必需 */
$--font-path: 'http://www.pfuni.cn/test/adminFramework/css/themes/blue/fonts';

@import "http://www.pfuni.cn/test/adminFramework/css/themes/blue/index.css";
