/* 改变主题色变量 */
$--color-primary:#E50014;
$--color-success:#EEB9CD;
$--color-warning:#F6ECD1;
$--color-danger:#F0DBE4;
$--color-info:#DA6697;
/* 改变 icon 字体路径变量，必需 */
$--font-path: 'http://www.pfuni.cn/test/adminFramework/css/themes/red/fonts';

@import "http://www.pfuni.cn/test/adminFramework/css/themes/red/index.css";
