/***-------------------------自定义红色主题色系-------------------------------***/
$red-primary:#E50014;
$red-success:#67C23A;
$red-warning:#E6A23C;
$red-danger:#409EFF;
$red-info:#909399;

/***-------------------------自定义绿色主题色系-------------------------------***/
$green-primary:#67C23A;
$green-success:#E50014;
$green-warning:#E6A23C;
$green-danger:#409EFF;
$green-info:#909399;

/***-------------------------自定义蓝色主题色系-------------------------------***/
$blue-primary:#409EFF;
$blue-success:#67C23A;
$blue-warning:#E6A23C;
$blue-danger:#E50014;
$blue-info:#909399;

/***-------------------------自定义黄色主题色系-------------------------------***/
$yellow-primary:#E6A23C;
$yellow-success:#67C23A;
$yellow-warning:#E50014;
$yellow-danger:#409EFF;
$yellow-info:#909399;


/***黑白灰字体颜色就不要瞎改拉这是共用的***/
$black:#303133;
$blacks:#000;
$white:#fff;
$grey:#909399;
$greys:#C0C4CC;

//边框
$Base: #DCDFE6;
$Light:#E4E7ED;
$BorderLighter:#EBEEF5;
$BorderExtralight:#F2F6FC;


$themes: (
        red: (
            //字体色
            color:$red-primary,
            //背景色
           background:$red-primary,
           //边框
            border:$red-primary
        ),
        blue: (
            //字体色
            color:$blue-primary,
           //背景色
           background:$blue-primary,
           //边框
           border:$red-primary
        ),
        green:(
           //字体色
           color:$green-primary,
          //背景色
            background:$green-primary,
          //边框
           border:$red-primary
        ),
        yellow:(
           //字体色
           color:$yellow-primary,
           //背景色
           background:$yellow-primary,
           //边框
           border:$red-primary
        )
);
//遍历主题map
@mixin themeify{
        @each $theme-name, $theme-map in $themes {
                //!global 把局部变量强升为全局变量
                $theme-map: $theme-map !global;
                //判断html的data-theme的属性值  #{}是sass的插值表达式
                //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
                [data-theme="#{$theme-name}"] & {
                        @content;
                }
        }
}

//声明一个根据Key获取颜色的function
@function index($key) {
        @return map-get($theme-map, $key);
}

